<div class="container mt-5">
  <table class="table">
    <thead>
      <th> Name</th>
      <th> Player</th>
      <th> Action</th>
    </thead>
    <% @songs.each do |song| %>
      <tr>
        <td> <%= song.name %></td>
        <td> <audio controls
                src="<%= song.url %>">
                    Your browser does not support the
                    <code>audio</code> element.
            </audio></td>
        <td> <%= link_to "View Album", album_path(song.album) %> </td>
      </tr>
    <% end %>
  </table>
</div>