<div class="container mt-5">
  <div class="card-columns">
    <% @albums.each do |album| %>
      <div class="card">
        <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
        <%= image_tag album.cover, :class => "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= album.name %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>